@import './chota.min.css';

nav#bar {
	position: absolute;
	bottom: 0;
}

#list_nodes {
	overflow: hidden;
	overflow-y: scroll;
	max-height: 70vh;
}

nav#bar a {
	max-height: 7vh;
}

img {
	height: 90%;
	top: 0;
}

:root {
	--color-primary: #da1d50; /* brand color */

	touch-action: pan-x pan-y;
	height: 100%;
	width: 100%;
}

div.container {
  position: relative;
}

#center {
	text-align: center;
}